.services {
    padding: 0.3rem 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-bottom: 12rem;
    margin-top: 12rem;
    padding-top: 6rem;
}

.awesome{
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.awesome > :nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 5px;
}

.awesome > :nth-child(3){
    color: var(--gray);
    font-size: 18px;
    margin-top: 12px;
}

.awesome > :nth-child(4){
    color: var(--gray);
    font-size: 18px;
}

.s-button{
    display: flex;
    align-items: center;
    width: 8rem;
    height: 3rem;
    margin-top: 12px;
}


.awesome > a{
    width: 160px;
    text-decoration: none;
}

.title-skills{
    margin-left: 15rem;
    display: flex;
    flex-direction: column;
}

.t-conteiner{
    display: flex;
    flex-direction: column;
}

.t-conteiner > :nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.t-conteiner > :nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 5px;
}

.cards{
    margin-top: 20px;
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

.cards > span {
    color: var(--gray);
    font-size: 18px;
}

.c-res {
    grid-template-columns: 1fr 1fr;
    display: none;
    margin-right: 8rem;
    margin-top: 1rem;
}

.c-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
}

.c-c > span{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--gray);
    font-size: 18px;
}

@media screen and (max-width: 520px){
    .services{
        display: flex;
        flex-direction: column;
        padding-top: 6rem;
    }
    .title-skills{
        margin-top: 4rem;
        margin-left: 0;
    }
    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
    }
}


@media screen and (max-width: 450px){
    .cards{
        display: none;
    }
    .c-res{
        display: grid;
    }
    .c-c{
        display: flex;
    }
    .t-conteiner{
        margin-left: 4rem;
    }
    .services{
        padding-top: 15rem;
        padding-bottom: 10rem;
    }
}

@media screen and (max-width: 390px){
    .t-conteiner{
        margin-left: 5rem;
    }
    .c-res{
        margin-left: 1rem;
    }

}

@media screen and (max-width: 375px){
    .t-conteiner{
        margin-left: 6rem;
        width: 300px;
    }
    .c-res{
        margin-left: 2rem;
    }
}

