.intro{
    display: flex;
    height: 77vh;
    margin-top: 8rem;
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name >:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.i-name >:nth-child(2){
    color: var(--orange);
    font-size: 3rem;
    font-weight: bold;
}

.i-name >:nth-child(3){
    font-weight: 100;
    font-size: 18px;
    color: var(--gray);
    margin-top: 12px;
}

.i-button{
    width: 6rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
}

.i-icons > a > img{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.i-icons > :nth-child(2) > img{
    width: 3.2rem;
    height: 3.2rem;
}

.i-icons > a > img:hover{
    cursor: pointer;
}

.i-right{
    flex: 1;
}

.i-right > *{
    margin-right: 10px;
}