.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    z-index: 1;
    left: 0;
    background-color: transparent;
    transition:all 0.3s ease;
}

.navbar.active{
    background-color: #56b9fb;
    transition:all 0.3s ease;
}

.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left {
    flex: 0.8;
    align-items: center;
    display: flex;
    gap: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.n-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2.55rem;
}

.n-name:hover {
    cursor: pointer;
}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin-bottom: 1rem;
}

.n-list {
    flex: 10;
}

.n-list>ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    width: 100%;
}

.n-list>ul>li:hover {
    color: var(--orange);
    cursor: pointer;
}

.n-list>ul>li{
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 4rem;
}

.n-button {
    font-family: inherit;
    font-size: 20px;
    background: var(--orange);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    margin-right: 8rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

.n-button span {
    display: block;
    margin-left: 0.7em;
    transition: all 0.3s ease-in-out;
}

.n-button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.n-button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.n-button:hover svg {
    cursor: pointer;
    transform: translateX(2.8em) rotate(45deg) scale(1.1);
}

.n-button:hover span {
    transform: translateX(9em);
}

.n-button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}


@media screen and (max-width: 520px){
    .n-list{
        display: none;
    }
    .n-name{
        font-size: 1.5rem;
        font-weight: bold;
        width: 250px;
        margin-left: -0.6rem;
    }
    .n-button{
        display: none;
    }
}